@mixin box($width: 500px, $height: 50px) {
  width: $width;
  height: $height;
  border: 2px solid lightsteelblue;
  padding-left: 20px;
}

.item {
  @include box();
  display: flex;
  align-items: center;
}
